<body>
    <div id="dclock">
      <p class="time"></p>
  </div>
  
  <div id="clock" class="clock">
    <div class="hour">
            <div class="hh" id="hh"></div>
        </div>
     <div class="minute">
             <div class="mm" id="mm"></div>
         </div>
     <div class="second">
            <div class="ss" id="ss"></div>
         </div>
  </div>

<div class="select" >
<select id="selmajor"  onchange="show(this)">
    <option value="">-- SELECT --</option>
    <optgroup label="Favorites" class="option"></optgroup>
    <optgroup label="Major cities" class="option"></optgroup>
</select>
</div>

</body>